/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

/* Меню */
.menu {
    position: fixed;
    width: 100%;
    height: 10vh; /* Фиксированная высота для меню */
    background-color: #02051a;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    align-items: center;
    transition: top 0.3s;
    z-index: 1000;
    left: 0;
    right: 0;
}

.menu:hover {
    top: 0;
}

.menu .logo {
    display: none;
}

.menu .nav-links {
    display: flex;
    padding-top: 2vh;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.menu .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 1.5vw;
    transition: color 0.3s ease;
    font-size: 1.5vh;
    margin-top: 1vh;
}

.menu .nav-links a:hover {
    color: #ddd;
}

.menu .social-links {
    display: flex;
    margin-right: 1vw;
}

.menu .social-links a {
    margin: 0 1vw;
}

.menu .social-links img {
    width: 4vw;
    height: 4vh;   
}

/* Обложка */
.cover {
    width: 100vw;
    height: 100vh; /* Полная высота экрана */
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
    margin: 0;
    padding: 0;
    position: relative;
}

.cover.visible {
    opacity: 1;
}

.cover img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(25%);
}

.cover .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
}

.cover .slogan h1 {
    font-size: 10vh;
    margin: 0;
}

.cover .slogan p {
    font-size: 3vh;
    font-style: italic;
    margin: 0;
}

/* Инфо */
.info {
    width: 100vw;
    height: 105vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
    margin: 0;
    box-sizing: border-box;
}

.info.visible {
    opacity: 1;
}

.info .description {
    width: 100%;
    height: 15vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info .description h1 {
    font-size: 5vh;
}

.info .advantages {
    width: 100%;
    height: 150vh; 
    display: flex;
    flex-direction: column; 
    gap: 5vh; 
    padding: 0 10%; 
    box-sizing: border-box;
}

.info .advantages .advantage {
    width: 100%;
    height: 25vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 2vh 0;
    box-sizing: border-box;
}

.info .advantages .advantage:last-child {
    border-bottom: none;
}

.info .advantages .advantage img {
    width: 20vw;
    height: 20vh;
    display: block;
    margin: 0 auto;
}

.info .advantages .advantage h2 {
    font-weight: bold;
    font-size: 3vh;
    margin: 1vh 0;
}

.info .advantages .advantage p {
    font-weight: normal;
    font-size: 2vh;
    margin: 0;
    line-height: 1.5;
}

/* Услуги */
.services {
    width: 100vw;
    height: 75vh; /* Полная высота экрана */
    background-color: #02051a;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 1s, filter 0.3s ease;
    margin: 0;
    padding: 0;
}

.services.blurred {
    filter: blur(10px);
}

.services.visible {
    opacity: 1;
}

.services-text {
    height: 15vh; /* Фиксированная высота для текста */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    width: 100%;
}

.services-carousel {
    width: 100%;
    height: 85vh; /* Оставшаяся высота для карусели */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    position: absolute;
    width: 50%;
    height: 75vh;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.service img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 5vh;
}

.service-title {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5vh 0.5vh 0.5vh rgb(0, 0, 0);
    width: 100%;
}

.service-details {
    display: none;
}

.service.center {
    transform: translateX(0) scale(0.75);
    opacity: 1;
    z-index: 3;
}

.service.left {
    transform: translateX(-50%) scale(0.5);
    opacity: 0.7;
    z-index: 2;
}

.service.right {
    transform: translateX(50%) scale(0.5);
    opacity: 0.7;
    z-index: 2;
}

.service.hidden {
    opacity: 0;
    pointer-events: none;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #02051a;
    border: none;
    padding: 1vh;
    cursor: pointer;
    font-size: 5vh;
    z-index: 1000;
    border-radius: 50%;
    width: 7.5vh;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button.prev {
    display: none;
}

.carousel-button.next {
    display: none;
}


/* Новости */
.news {
    width: 100%;
    height: auto; /* Высота автоматическая, чтобы контент не обрезался */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
    padding-top: 10vh;
    overflow: hidden;
    margin-bottom: 5vh;
}

.news.visible {
    opacity: 1;
}

.news h1 {
    font-size: 5vh;
    color: #02051a;
    margin-bottom: 5vh;
}

.articles-list {
    width: 90%;
    display: flex;
    flex-direction: column; /* Элементы в колонку (один под другим) */
    gap: 2vh; /* Отступ между элементами */
    margin-bottom: 5vh;
}
.article-item {
    width: 90%; /* Ширина на всю доступную ширину */
    height: auto; /* Высота автоматическая, чтобы контент не обрезался */
    background-color: #f9f9f9;
    border-radius: 1vh;
    padding: 2vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; /* Элементы внутри блока в столбик */
    align-items: flex-start; /* Выравнивание по левому краю */
    font-size: 1.8vh; /* Уменьшенный шрифт для всего блока */
}

.article-image {
    width: 100%; /* Ширина изображения на всю ширину блока */
    height: 20vh; /* Фиксированная высота изображения */
    object-fit: cover;
    border-radius: 1vh;
    margin-bottom: 2vh; /* Отступ снизу для изображения */
}

.article-content {
    width: 100%; /* Ширина контента на всю ширину блока */
    display: flex;
    flex-direction: column; /* Элементы внутри контента в столбик */
    gap: 1vh; /* Отступ между элементами */
}

.article-title {
    font-size: 2.2vh;
    width: 100%; 
    font-weight: bold;
    margin-bottom: 1vh;
    overflow: hidden; /* Обрезаем текст, если он не влезает */
    text-overflow: ellipsis; /* Добавляем многоточие */
    white-space: nowrap; /* Запрещаем перенос текста */
}

.article-preview {
    font-size: 1.8vh; /* Уменьшенный шрифт для превью */
    color: #02051a;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    line-height: 1.5;
}

.article-date {
    font-size: 1.6vh; /* Уменьшенный шрифт для даты */
    color: #888;
    margin-top: 1vh;
}

.load-more-button {
    margin-top: 5vh;
    padding: 1.5vh 3vh;
    background-color: #02051a;
    color: white;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
    transition: background-color 0.3s ease;
}

.load-more-button:hover {
    background-color: #333;
}

/* Контакты */
.contacts {
    width: 100vw;
    height: 75vh; /* Фиксированная высота для контактов */
    background-color: #02051a;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
    padding: 5vh;
    box-sizing: border-box;
    margin: 0;
}

.contacts.visible {
    opacity: 1;
}

.map {
    width: 100%;
    height: 30vh; /* Фиксированная высота для карты */
    margin-bottom: 2vh;
}

.contact-info {
    width: 100%;
    height: 20vh; /* Фиксированная высота для информации */
    color: white;
    line-height: 1.6;
}

.contact-info h2 {
    display: none;
}

.contact-info p {
    margin: 1vh 0;
    text-align: center;
    font-size: 2vh;
}

.contact-info a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover,
.contact-info a:active {
    color: #ddd;
}

/* Подвал */
.footer {
    width: 100vw;
    height: 20vh; /* Фиксированная высота для подвала */
    background-color: #17171b;
    padding: 5vh 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 3vw;
    width: 100%;
    height: 5vh; /* Фиксированная высота для ссылок */
}

.footer-links a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 2vh;
}

.footer-links a:hover {
    color: #ddd;
}

.footer .Copyright {
    color: #ddd;
    text-align: center;
    margin-top: 3vh;
    font-size: 2vh;
    width: 100%;
    height: 5vh; /* Фиксированная высота для копирайта */
}

/* Оверлей для деталей услуги */
.service-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2000;
}

.service-details-overlay.active {
    opacity: 1;
    visibility: visible;
}

.service-details-content {
    background-color: rgb(255, 255, 255);
    padding: 4vh;
    border-radius: 1vh;
    max-width: 50vw;
    height: 90%;
    width: 50%;
    font-size: 3vh;
    line-height: 2; 
    margin: 2vh 0; 
    color: #02051a;
}

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cover, .info, .services, .news, .contacts {
    animation: fadeIn 1s ease-in-out;
}